.container {
  display: grid;
  grid-template-columns: 80% 10%;
  justify-content: center;
  margin: 1em 0;
}

.searchInput {
  border: none;
  padding: 1em;
  width: 90%;
}
.magnifyingGlass {
  align-self: center;
  width: 1.5em;
  height: 1.5em;
}
