.btnSkills {
  background-color: #3c381d5e;
  border: none;
  border-radius: 6px;
  color: white;
  font-family: var(--primary-font-family);
  font-size: 1.5em;
  width: 100%;
  padding: 0.6em 3em 0.4em;
  margin: 0.5rem 0;
}
.btnSkills:active,
.btnSkills:hover {
  background: #554d20;
}
