.btnSkills {
  font-family: var(--primary-font-family);
  background-color: #3c381d5e;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1.5em;
  padding: 0.5em 2em 0.4em;
}
.btnSkills:active,
.btnSkills:hover {
  background: #554d20;
}
