.container {
  background: rgb(255, 216, 0);
  background: linear-gradient(
    10deg,
    rgba(255, 216, 0, 1),
    rgba(255, 245, 188, 1) 100%
  );
  min-height: 100vh;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}
.main {
  padding: 2rem 0;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}
.fullHeader {
  text-align: center;
}
.header {
  padding: 1.1rem 0 0;
  line-height: 0.7;
}
.introText {
  color: var(--accent-color-red);
  font-size: 1.5em;
  line-height: 1.3em;
  text-align: center;
}
.logo {
  text-align: center;
}
.logo,
.logoSmall {
  text-align: center;
}
.logoSmall {
  width: 60%;
}
.skillButtonsWrapper {
  align-self: start;
}
